.search-container {
    display: flex;
    justify-content: center; 
    padding: 19px;
  }

  
  #filteredGamesContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    max-width: 800px; 
    margin: auto; 
  }